params {
	//Directory for VCF input files. The pipeline currently doesn't run very well on single files - I need to add more exception handling, so please use more than 5
	input_data = "/stornext/Bioinf/data/lab_davidson/robson.b/Project/Pipeline/AutomatedITD/Ovarian/*.vcf"
	//Set the output directory for the summary file
	outputDir = "/stornext/Bioinf/data/lab_davidson/robson.b/Project/Pipeline/AutomatedITD/Ovarian/VCF"	
}
