params {
	//Directory for VCF input files. The pipeline currently doesn't run very well on single files - it needs more exception handling, so please use more than 5 (it can run one one, but it might not work)
	input_data = "*/novel_contigs.vcf"
	//Set the output directory for the summary file
	outputDir = "*/output_dir_TCGA_LAML"	
	//Debug only
	//tempDir = "$HOME/scratch/VEPfiles"
	Cosmic_tab = "*/database"

}
